<nav class="navbar">
  <div>
    <div class="logo">
      <span class="logo-icon">G</span>
      <span class="logo-text">oBooker</span>
    </div>
  </div>

  <div class="form-controls">
    <input type="text" placeholder="Search Movies By Name"/>
  </div>

  <div class="form-controls2">
    <select>
      <option>Delhi NCR</option>
      <option>Ahmendabad</option>
      <option>Bangaluru</option>
      <option>Chandigarh</option>
      <option>Chennai</option>
      <option>Hydrabad</option>
      <option>Kolkata</option>
      <option>Mumbai</option>
      <option>Jaipur</option>
      <option>Ghaziabad</option>
      <option>Indore</option>
    </select>
  </div>

  <div>
    <i class="fa-solid fa-bars" style="color: #ffcc00;"></i>
  </div>

</nav>