<nav class="navbar">
  <div>
    <div class="logo">
      <span class="logo-icon">G</span>
      <span class="logo-text">oBooker</span>
    </div>
  </div>

  <div class="form-controls" (click)="onClickChange()">
    <input type="text" placeholder="Search Movies By Name" />
  </div>

  <div class="form-controls2">
    <select>
      <option>Delhi NCR</option>
      <option>Ahmendabad</option>
      <option>Bangaluru</option>
      <option>Chandigarh</option>
      <option>Chennai</option>
      <option>Hydrabad</option>
      <option>Kolkata</option>
      <option>Mumbai</option>
      <option>Jaipur</option>
      <option>Ghaziabad</option>
      <option>Indore</option>
    </select>
  </div>

  <div>
    <div>
      <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button class="btn btn-outline-warning ml-2" type="button" (click)="auth.logout()">Log out</button>
      </div>
    </div>
    <div>
      <ng-template #loggedOut>
        <button #loggedOut class="btn btn-outline-warning ml-2" type="button" (click)="auth.loginWithRedirect()">Log
          in</button>
      </ng-template>
    </div>
  </div>

</nav>


<div *ngIf="value">
  <div class="search">
    <div style="text-align: end; padding: 1%;">
      <span (click)="onClickChange()"> <i class="fa-solid fa-x"></i></span>
    </div>

  </div>
</div>